<footer>
    <div class="footer-content">
        <img src="/public/images/logos/logo.png" width= '50' height = '50'  alt="Tool House" class ="logo">
        <h3>Síguenos</h3>
        <ul class="socials">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
        <h3>Contacto</h3>
        <ul class="contact">
            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Argentina - 2021</p>
    </div>
</footer>

<script src="/javascript/script.js"></script>

