<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a The Tools House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
                   <div class="logo"> 
                    <ul>
                        <a href="../"> <img src="images/logo.png" alt="Logo de TheToolsHouse"></a>
                    </ul>
                    
                </div>  
                
            <nav>
                
                <ul> 
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>               
                    
                    <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                </ul>
            </nav>
        </header>

 <main>
 
   <div class="main-product">
       <section class="detalle-producto"> 
           <article>
               <div class="articulo-elegido">
                  <img src="images/cortadoradepasto.jpg" alt="Cortadora de Pasto" class="product_img"> 
               </div>
               <div class="caracteristicas"> 
                  <div class="precio-articulo">  
                     <p>$15500</p>
                  </div>
                  <strong><p>Cortadora de Pasto</p></strong> 
               </div>      
           </article>
       </section>
       <section class="descripcion-articulo">
                     <div class="descripcion"> 
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia quidem quibusdam quas quos tempore </p>
           
                   <div class="agregar">
                     <button type="submit" class="button-form-agregar">Agregar al carrito +</button>
                   </div>    
                   <div class="medios-de-pago">
                     <button type="submit" class="button-form-medios">Ver medios de pago</button>
                   </div>
                   <div class="tarjetas">
                       <i class="far fa-credit-card"></i>
                       <i class="far fa-credit-card"></i>
                       <i class="fab fa-cc-mastercard"></i>
                       <i class="fas fa-credit-card"></i>
                       <i class="fab fa-cc-mastercard"></i>
                   </div>
                   <div class="envios">
                     <strong><p>Envíos a través de Correo Argentino y OCA</p></strong>
                     <a><i class="fas fa-truck"></i></a>
                   </div>
               </div>        
       </section>
   </div>  
</main>
<footer>
    <div class="secion-footer">
        
        <div class="paid-method">
           <h5>Métodos de pago</h5>
           <i class="fab fa-paypal" title="PayPal"></i>
           <i class="fab fa-bitcoin" title="BitCoin"></i>
           <i class="far fa-credit-card" title="Credit Card"></i>
         
        </div>
        
        <div class="social-media">
           <h5>Redes Sociales</h5>
           <i class="fab fa-facebook-square"></i>
           <i class="fab fa-twitter-square"></i>
           <i class="fab fa-instagram-square"></i>
        </div>
        <div class="contact">
           <h5>Contacto</h5>
           <ul>
               <li><i class="fas fa-home"></i> Av Gral Roca 5980</li>
               <li><i class="fas fa-envelope"></i> user@gmail.com</li>
               <li><i class="fas fa-mobile-alt"></i> 03548 343-2344</li>
           </ul>            
        </div>
    </div>
</footer>  
</body>
</html>