<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a The Tools House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo.png" alt="Logo de TheToolsHouse">
                </div>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar tus Herramientas</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá tu maquina o Alquila por dia</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Marcas Oficiales</a></li>
                <li><a href="#">Alquilar</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/carritoDeCompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    
                </ul>
            </nav>
        </header>
        <section class="banner">
            <img src="images/banner.jpg" alt="Banner de bienvenida">
        </section>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="images/cortadoradepasto.jpg" alt="Cortadora de Pasto" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$15.500</p>
                        <p class="discount">20% off</p>
                        <p class="rent">$400</p>
                        <h4 class="description">Cortadora de Cesped Naftera Motor Honda Dibra R80nh
                        </h4>
                    </div>
                </article>
                <article>
                    <img src="images/grupoelectrogeno.jpg" alt="Grupo Electrogeno" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$150.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Generador portátil Emaresa HHY6800FE 5500W monofásico 127V</h4>
                    </div>
                </article>
                <article>
                    <img src="images/motosierra.jpg" alt="Motosierra" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$11.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Motosierra a nafta Niwa 38cc CNW-38 1.3kW</h4>
                    </div>
                </article>
                <article>
                    <img src="images/taladro.jpg" alt="Taladro" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$7.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Taladro Atornillador Bosch Gsr 1000 Smart Inalambrico Bateria 12v Litio Maletin Accesorios + Regalo Madera Acero Durlock</h4>
                    </div>
                </article>
            </div>
        </section>
        //*Ofertas*//
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <img src="images/amoladora.jpg" alt="Amoladora Angular" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Amoladora angular Gamma G1909 de 50 Hz celeste 650 W 220 V</h4>
                    </div>
                </article>
                <article>
                    <img src="images/soldadora.jpg" alt="Soldadora Lusqtoff" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Soldadora inverter Lusqtoff Iron-180 220V</h4>
                    </div>
                </article>
                <article>
                    <img src="images/herramientas.jpg" alt="Caja de herramientas" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                    <h4 class="description">Kit Herramientas Neumaticas 1/2 1/4 Konan 71 Piezas Kki-03</h4>
                    </div>
                </article>
                <article>
                    <img src="images/sierra.jpg" alt="Sierra" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Sierra Circular Omaha 1250w 7-1/4 185 Mm Disco Madera</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>