<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a The Tools House</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
                   <div class="logo"> 
                    <ul>
                        <a href="../"> <img src="images/logo.png" alt="Logo de TheToolsHouse"></a>
                    </ul>
                    
                </div>               
            <nav>               
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                   </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="login">
            <h4>Tus Datos</h4>
            <form action="/" method="POST">
                <input type="text" name="email" placeholder="E-mail de Usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar" class="submit">
                
            </form>
        
        </main>
        <footer>

        </footer>
    </body>
</html>