<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div class="detail-container">
                <div class="product-main">
                    <img src="/images/productos" width='250'
                        height='350' alt="bosch taladro">
                    <h1>Herramienta estandar</h1>
                </div>
                <div class="product-description">
                    <div class="description-text">
                        <p>Prueba texto a productos
                            <br> Peso 1Kg
                        </p>
                    </div>
                    <br>
                    <div class="product-data">
                        <p class="data-title">Ficha Técnica:</p>
                        <p>Caracteristica 1</p>
                        <p>Caracteristica 2</p>
                        <p>Caracteristica 3</p>
                    </div>
                    <div class="price flex flex-ai-center flex-jc-sb ">
                        <p class="price">Cantidad 1 <br>$20.000</p>
                        <a href="#" class="button">Agregar al Carrito</a>
                    </div>
                </div>

            </div>

            <% include ../partials/footer %>
    </body>

    </html>