<% include ../partials/head %>

     <body>
        <% include ../partials/header %>
            <div class="container-shop">
                <h3>Productos</h3>
                <section class="container-products">
                    <div class="product">
                        <a href="products/productDetail/id:"><img src="../images/productos/alicate-corte-pequeno-grande.jpg" width='200'
                                height='180' alt="Producto 1" class="product-img">
                        </a>
                        <div class="main-article">
                            <h4 class="description">Alicate</h4>
                            <span class="price">$ 2000</span>
                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="product">
                        <a href="products/productDetail/id:"><img src="../images/productos/amoladora-bosch-gws-18-125-v-li.jpg" width='200'
                                height='180' alt="Producto 2" class="product-img"></a>
                        <div class="main-article">
                            <h4 class="description">Amoladora</h4>
                            <span class="price">$ 25000</span>
                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="product">
                        <a href="products/productDetail/id:"><img src="../images/productos/taladros-percutores-bosch.jpg" width='200'
                                height='180' alt="Producto 3" class="product-img"></a>
                        <div class="main-article">
                            <h4 class="description">Taladros</h4>
                            <span class="price">$ 35000</span>
                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="product">
                        <a href="products/productDetail/id:"><img src="../images/productos/osciloscopios-portatiles.jpg" width='200'
                                height='180' alt="Producto 4" class="product-img"></a>
                        <div class="main-article">
                            <h4 class="description">Osciloscopios</h4>
                            <span class="price">$ 50000</span>
                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>
                    <div class="product">
                        <a href="products/productDetail/id:"><img src="..\images\productos\stanley-stmt1-74305.jpg"
                                width='200' height='180' alt="Producto 5" class="product-img"></a>
                        <div class="main-article">
                            <h4 class="description"> Carros de Herramientas </h4>
                            <span class="price">$ 70000</span>
                        </div>
                        <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
                    </div>

                </section>
            </div>
            <% include ../partials/footer %>
    </body> 
    
    </html>